body {
    background: #d0dbe1;
    padding: 2rem;
    font-family: system-ui, sans-serif;
}

.row-search {
    margin-bottom: 2rem;
    gap: 0.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}

.card-empresa {
    padding: 1.5rem;
    background-image: linear-gradient(to bottom left, #e0e4e5, #f2f6f9);
    border-radius: 16px;
    display: grid;
    grid-template:
        'title icon'
        'content content'
        'bar bar' / 1fr auto;
    color: #444447;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: inset -2px 2px hsl(0 0 100% / 1),
        -20px 20px 40px hsl(0 0 0 / .25);
    min-height: 180px;
    max-height: 220px;
    height: 200px;

    align-items: center;
}

.card-empresa .title {
    grid-area: title;
    font-size: 1.1rem;
    text-transform: none;
    font-weight: 500;
    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    align-self: center;
    margin-right: 10px;
}

.card-empresa:hover {
    transform: scale(1.03);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.card-empresa.selected {
    border: 3px solid #F1AE33;
}

.card-empresa .content {
    grid-area: content;
    margin-top: 1rem;
    font-size: 0.95rem;
}

.card-empresa::after {
    content: "";
    grid-area: bar;
    height: 2px;
    background-image: linear-gradient(90deg, var(--grad));
    margin-top: 1.5rem;
}