* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #53A5A6 0%, #61b4b6 35%, #4A8F90 100%);
}

.card {
  background-color: #F1F1F1;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h4 {
  color: #F1F1F1;
}

h5 {
  position: relative;
  color: #53A5A6;
  font-weight: 600;
}

h5::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 50px;
  height: 3px;
  background: #53A5A6;
}

.form-row {
  display: flex;
  gap: 16px;
}

.form-row>div {
  flex: 1;
}

.required {
  color: red;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

.card-header {
  border: none;
  background-color: #F1F1F1;
}

.form-group label {
  color: #4F545A;
  font-weight: 600;
  font-size: 15px;
  display: block;
  margin-bottom: 8px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border: 2px solid #8A94A6;
  border-radius: 8px;
  overflow: hidden;
  align-items: stretch;
}

.input-icon {
  background: #FFFFFF;
  padding: 12px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #8A94A6;
  min-width: 55px;
  position: relative;
  border-right: none;
}

.input-icon::after {
  content: '';
  position: absolute;
  right: 0;
  height: 80%;
  width: 3%;
  background-color: #8A94A6;
}

.input-wrapper input {
  flex: 1;
  padding: 12px 14px;
  border: none;
  background: transparent;
  color: #000000;
  font-size: 15px;
}

.input-wrapper input:focus {
  outline: none;
}

.input-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: none;
  flex: 1;
  padding: 12px 14px;
  font-size: 16px;
  color: #000000;
  cursor: pointer;

  background-image: url("data:image/svg+xml;utf8,<svg fill='%236B7280' height='14' viewBox='0 0 20 20' width='14' xmlns='http://www.w3.org/2000/svg'><polygon points='0,0 20,0 10,10'/></svg>");
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 10px;
}

.input-wrapper select:focus {
  outline: none;
}

.btn-enviar {
  background-color: #F1AE33;
}

.btn-enviar:hover {
  background-color: #F1AE33;
}