* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F1F1F1;
}

.header-container {
    background: linear-gradient(135deg, #53A5A6 0%, #61b4b6 35%, #4A8F90 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    padding: 16px 32px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.header-left i {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 18px;
}

.header-left strong {
    line-height: 1;
    font-weight: 700;
}

.header-center {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
}

.header-link:hover {
    text-decoration: underline;
}

.btn-logout {
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 0.9rem;
    cursor: pointer;
}

.btn-logout:hover {
    text-decoration: underline;
}

.header-right {
    display: flex;
    align-items: center;
}

.avatar-container {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.user-name {
    font-size: 14px;
    line-height: 1;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.header-bottom {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#userExtra {
    display: inline-flex;
    align-items: center;
    gap: 6px;

    padding: 2px 8px;
    border-radius: 16px;

    font-size: 13px;
    font-weight: 500;

    background: rgba(255, 255, 255, 0.18);
    border: 1px solid rgba(255, 255, 255, 0.35);

    color: #FFFFFF;
    backdrop-filter: blur(4px);
}

#userExtra i {
    font-size: 13px;
    color: #F1AE33;
}

main {
    flex: 1;
    display: flex;
}

.container-fluid {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px 32px;
}

.welcome {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 6px;
    margin-bottom: 20px;
}

.welcome-title {
    font-size: 22px;
    font-weight: 600;
    color: #2B2B2F;
}

.welcome-subtitle {
    font-size: 14px;
    color: #5F5D6B;
    margin-top: 4px;
}

.cards-container {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.card {
    position: relative;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 450px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    background-color: transparent;
    border: none;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: #F1F1F1;
    box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
    border-radius: 5px;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    text-align: left;
    padding: 0px 20px 0px 20px;
}

.title {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #2B2B2F;
}

.subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #5F5D6B;
}

.btn-actions {
    margin-top: auto;
    padding: 0 20px 20px;
}

.btn-form,
.btn-solicitacoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 10px;
    width: 100%;
    height: 42px;
    background: linear-gradient(135deg, #53A5A6 0%, #61b4b6 35%, #4A8F90 100%);
    box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
    border-radius: 5px;
    border: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}