* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wave-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.wave-top svg {
    width: 100%;
    height: 100%;
    display: block;
}

.gradient-form {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F1;
}

.login-container {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.login-side {
    padding: 2rem 2rem;
}

.logo {
    text-align: center;
    margin-bottom: 2.5rem;
}

.logo img {
    width: 190px;
}

h3 {
  position: relative;
  font-weight: 600;
  font-size: 19px;
  color: #F1AE33;
  margin-bottom: 30px;
}

h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 50px;
  height: 3px;
  background: #F1AE33;
}

.login-side form p {
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.btn-login {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    background-color: #F1AE33;
    border: none;
    color: #FFFFFF;
    font-size: 1rem;
    cursor: pointer;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-container label.text {
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.input-container .input {
    font-size: 15px;
    border: 2px solid #F1AE33;
    border-radius: 8px;
    padding: 8px;
}

.input-container .input:focus {
    outline: none;
    border-color: #8A94A6;
}

/* BLOCO COLORIDO DAS REDES */
.social-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #F1AE33 0%, #F1AE33 20%, #53A5A6 50%, #88A6BB 80%, #53A5A6 100%);
    height: 100px;
}

#social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#social-media a {
    color: #FFFFFF;
    transition: transform 0.3s ease;
}

#social-media a:hover {
    transform: scale(1.15);
}

/* Autofill Chrome */
input:-webkit-autofill {
    box-shadow: 0 0 0 1000px #fff inset !important;
}

.required {
    color: red;
}